{
    "root": true,
    "extends": [
      "eslint:recommended",
      "plugin:import/errors",
      "plugin:import/warnings",
      "plugin:react/recommended"
    ],    
    "settings": {
        "react": {
            "createClass": "createReactClass", 
            "pragma": "React",  
            "version": "15.0", 
            "flowVersion": "0.53" 
          },
          "propWrapperFunctions": [ "forbidExtraProps" ]         
    },
      "parserOptions": {
      "ecmaVersion": 7,
      "sourceType": "module"
    },
    "env": {
      "browser": true,
      "node": true,
      "mocha": true
    },
    "rules": {
        "no-console": 1
    }
  }